@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <h3>XML & Webservices - Individual Assignment</h3>
        <br />
        <p> Below are the details presented about my hometown in an HTML page and XML Batch list of favorite shortcuts created using xml,xsd and xslt</p>
        <br />
        <p>Click the following link to navigate to HTML Page: <a href="/AboutMyHomeCity.html">About my City</a></p>
        <p>Click the following link to navigate to Shortcuts XML Page: <a href="/users.xml">XML Batch favourite shortcuts</a></p>
    </div>
</div>
